/* Top Section */

.top_section {
    width: 100vw;
    height: 90vh;
    position: relative;
}

.hero_image_mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero_image_desktop {
    position: absolute;
    z-index: -1;
    display: none;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 18px;
}

.details .header {
    color: #fff;
    font-family: var(--raleway);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin-top: 90px;
}

.details .header span {
    color: var(--yellow);
}

.sub_header {
    color: #fff;
    margin-top: 20px;
    font-family: var(--mulish);
    font-size: 15px;
    font-weight: 500;
}

/* Latest Releases Section */

.latest_releases_section {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_header {
    font-family: var(--montserrat);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    width: max-content;
    padding: 0 10px 10px 10px;
    border-bottom: 2px solid var(--yellow);
    align-self: center;
}

/* Our Services Section */

.our_services_section {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, transparent 80%, rgba(255, 255, 255, 0.2))
}

.section_link {
    margin-top: 25px;
    margin-right: 18px;
    align-self: flex-end;
    font-family: var(--mulish);
    text-decoration: none;
    color: var(--yellow);
    font-size: 13px;
    text-transform: capitalize;
}

.section_link:hover {
    text-decoration: underline;
}

/* Our Artists Section */

.our_artists_section {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Our Merchandise Section */

.our_merchandise_section {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: var(--darkblue);
}

.animeWrapper {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.animeContainer {
    width: 40px;
    height: 40px;
}

.announcement {
    color: var(--white);
    font-family: var(--opensans);
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;
}

@keyframes first{
    0%{
        opacity: 0;
    }

    25%{
        opacity: 1;
        background: var(--yellow);
    }

    50%{
        opacity: 1;
        background: var(--yellow);
    }

    100%{
        opacity: 1;
        background: var(--yellow);
    }
}

@keyframes second{
    0%{
        opacity: 0;
    }

    25%{
        opacity: 0;
    }

    50%{
        opacity: 1;
        background: var(--yellow);
    }

    100%{
        opacity: 1;
        background: var(--yellow);
    }
}

@keyframes third{
    0%{
        opacity: 0;
    }

    25%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        background: var(--yellow);
    }
}

.circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--white);
    margin-left: 7px;
    font-weight: 600;
}

.first_circle{
    animation: first 1.3s infinite linear;
}

.second_circle{
    animation: second 1.3s infinite linear;
}

.third_circle{
    animation: third 1.3s infinite linear;
}

/* What's New Section */

.whats_new_section {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Media Queries */

@media screen and (min-width: 360px) and (min-height: 750px) {
    .top_section {
        height: 80vh;
    }
}

@media screen and (min-width: 1150px) {
    /* Top Section */
    .top_section {
        height: 90vh;
    }
    .hero_image_mobile {
        display: none;
    }
    .hero_image_desktop {
        display: block;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 100%;
        object-fit: cover;
    }
    .details {
        margin-top: 100px;
        margin-left: 60px;
        padding: 0 85px;
        padding-bottom: 20px;
        border-left: 4px solid var(--yellow);
        height: max-content;
        width: 55%;
        /* border: 3px solid yellow; */
    }
    .details .header {
        margin-top: 50px;
        font-size: 60px;
        font-weight: 600;
    }
    .sub_header {
        font-size: 16px;
        margin-top: 30px;
    }
    /* Latest Releases Section */
    .latest_releases_section {
        padding-top: 50px;
    }
    .section_header {
        font-size: 16px;
        border-bottom: 3px solid var(--yellow);
    }
    /* Our Services Section */
    .our_services_section {
        padding: 50px 0;
    }
    /* Our Artists Section */
    .our_artists_section {
        padding: 50px 0;
    }
    .cards_container {
        width: 75%;
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
        grid-column-gap: 80px;
    }
    /* Our Merchandise Section */
    .our_merchandise_section {}
    /* What's New Section */
    .whats_new_section {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 70%;
        padding-top: 50px;
        align-items: center;
    }
}