.button{
    padding: 7px 13px;
    background: transparent;
    border: none;
    border-radius: 10px;
    font-family: var(--mulish);
    font-size: 15px;
    border: 2px solid rgba(245, 212, 13, 1);
    color: rgba(245, 212, 13, 1);
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
}

.button:hover{
    border: none;
    background: var(--yellow);
    color: var(--black);
    border: 2px solid rgba(245, 212, 13, 1);
}